body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 0.5rem;
}

.ChatGptImage {
    position: absolute;
    width: 2rem;
    top: 0.9rem;
    left: 1.8rem;
}

.ChatGptText {
    position: absolute;
    left: 4.5rem;
    top: -0.1rem;
}

.nav-links {
    position: absolute;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    width: 70%;
    left: 39rem;
}

.link {
    display: inline-block;
    padding-left: 2rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.qestion-mark {
    position: absolute;
    border-radius: 100%;
    top: 0.7rem;
    left: 116rem;
    background-color: white;
}

.sign-up {
    position: absolute;
    top: 0.7rem;
    left: 107rem;
    height: 2.5rem;
    width: 8.5rem;
    border-radius: 25px;
    background-color: white;
}

.log-in {
    position: absolute;
    top: 0.7rem;
    left: 102.5rem;
    height: 2.5rem;
    width: 3.8rem;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.main-container {
    margin-top: 4rem;
    width: 100%;
}

.main-container .main-qestion {
    position: absolute;
    top: 19rem;
    left: 50.1rem;
}

.main-container .textareaDiv {
    position: absolute;
    top: 25rem;
    left: 36rem;
    width: 47rem;
    height: 6.7rem;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(202, 198, 198);
}

.main-container #qestionsArea {
    position: absolute;
    top: 1rem;
    left: 0.7rem;
    width: 95%;
    font-size: 1rem;
    border-radius: 15px;
    border: 0;
}