body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 0.5rem;
}

.ChatGptImage {
    position: absolute;
    width: 2rem;
    top: 0.9rem;
    left: 1.8rem;
}

.ChatGptText {
    position: absolute;
    left: 4.5rem;
    top: -0.1rem;
}